/* Style Settings */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

body {
    background-image: linear-gradient(to bottom, #202020, #404040, #505050); /* url('../files/background.jpg'); */
    background-size: cover; /* cover; 100vw 100vh */
    background-color: #505050;
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}


#userPhoto {
    width: 225px;
    height: 225px;
    display: block;
    margin: 25px auto 10px;
    border-radius: 20%;
}

#userName {
    color: #fff;
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

#userName h1 {
	max-width: 600px;
	margin: auto;
    font-size: 1.75rem;
    font-weight: 700;
    letter-spacing: 0.01rem;
    margin: 0 auto;
}

#userName p {
    color: rgb(220, 220, 220);
	max-width: 600px;
	margin: auto;
	font-size: 1rem;
    font-weight: 300;
    margin-top: 5px;
    text-transform: none;
}

i.fa {
    margin-right: 0.3rem;
}

#links {
    max-width: 600px;
    width: auto;
    display: block;
    margin: 20px auto;
}

.header {
	display: block;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(220, 220, 220);
    text-align: center;
    margin-bottom: 8px;
    padding: 2px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 1000;
}

.footer {
	display: block;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(220, 220, 220);
    text-align: center;
    margin-bottom: 8px;
    padding: 2px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 300;
}

.link {
    display: block;
    background-color: rgba(30, 30, 30, 0.8);
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
    padding: 12px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 300;
    transition: all .25s cubic-bezier(.08, .59, .29, .99);
    border-radius: 25px;
}

.link:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: #000000;
    border: none;
}
